# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
.env
.venv
ENV/

# База данных
*.db
*.sqlite3

# Логи
*.log

# IDE
.idea/
.vscode/
*.swp
*.swo

# Конфиги с секретными данными
config.py